body{
    overflow: hidden;
}

.container{
    height: 100%;
    width: 100vw;
    background: #201F1F;
}

.header{
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    background: #333131;
    box-shadow: 0 2px 15px;
    z-index: 1;
}

.logo{
    height: 100px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    margin-left: 15px;
    height: 80%;
    width: 80%;
}

.nav-buttons{
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.nav-button{
    padding: 10px 10px 10px 10px;
    font-size: 34px;
    color: white;
    border: none;
    border-radius: 35px;
    background-color: inherit;
    cursor: pointer;
    transition: 0.4s;
}

.nav-button:hover{
    /* background: #615e5e;
    box-shadow: 0px 0px 2px 2px #615e5e; */
    background: white;
    color: black;

}

.search-bar{
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-background{
    height: 50px;
    width: 400px;
    display: flex;
    background: #9E9494;
    border-radius: 5px;
    justify-content: left;
    align-items: center;
}

.search-bar input[type = text]{
    height: 80%;
    width: 85%;
    border: none;
    border-radius: 5px;
    margin-left: 4px;
    font-size: 25px;
}

.search-bar-background img{
    height: 40px;
    width: 40px;
    padding-left: 6px;
}

.cart{
    height: 100px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart img{
    height: 65%;
    width: 65%;
}

.account{
    height: 100px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account a img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background: white;
}

.account a button{
    border-radius: 10px;
}

.content{
    height: 1200px;
    width: 100vw;
    padding-top: 100px;
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    color: white;
}

.side-bar{
    height: 100vh;
    width: 250px;
    background: #333131;
    position: fixed;
    z-index: 0;
    box-shadow: 0 2px 15px black;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.filters{
    height: 40%;
    width: 200px;
    display: flex;
    margin-left: 20px;
}

.filters ul li{
    width: 100px;
    padding-bottom: 10px;
}

/*CHECKBOXES*/
.multiselect-genres,
.multiselect-publishing,
.multiselect-authors{
    width: 200px;
}

.selectBox-genres,
.selectBox-publishing,
.selectBox-authors{
    position: relative;
}

.selectBox-genres select,
.selectBox-publishing select,
.selectBox-authors select{
    color: white;
    background: #333131;
    border-top: 2px solid #201F1F;
    border-left: 2px solid #201F1F;
    border-right: 2px solid #201F1F;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    padding: 5px;
}

.overSelect-genres,
.overSelect-publishing,
.overSelect-authors{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#boxes-genres,
#boxes-publishing,
#boxes-authors{
    display: none;
    border-left: 2px solid #201F1F;
    border-right: 2px solid #201F1F;
    border-bottom: 2px solid #201F1F;
    max-height: 120px;
    overflow-y: auto;
}

#boxes-genres label,
#boxes-publishing label,
#boxes-authors label{
    display: block;
    padding: 5px;
    background: #393838;
}

#boxes-genres a,
#boxes-publishing a,
#boxes-authors a{
    text-decoration: none;
    color: white;
}

#boxes-genres label:hover,
#boxes-publishing label:hover,
#boxes-authors label:hover{
    box-shadow: 0 2px 7px black inset;
}

.books{
    width: 100vw;
    height: 100vh;
    background: #201F1F;
    margin-left: 280px;
    margin-top: 50px;
}

.shelf{
    height: 740px;
    width: 1600px;
    display: flex;
    /*align-items: center;*/
    overflow-x: hidden;
    overflow-y: auto;
    white-space: revert;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.6s;
    border-radius: 25px;
    border: 2px solid #615e5e;
}

.shelf:hover{
    box-shadow: 0 0 30px 2px #615e5e, 0 0 15px 2px #615e5e inset;
}

.shelf li{
    height: 250px;
    width: 180px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid gray;
    margin: 0 5px 13px;
    background: #383636;
    transition: 0.2s linear;
}

.shelf li:hover{
    box-shadow: 3px 3px 5px 4px #444242, 0 0 5px 4px #444242 inset;
}

.shelf li a{
    height: 140px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.text-box-wrapper{
    max-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin-top: 5px;
    padding-left: 25px;
    padding-top: 10px;
}

.book-name-span{
    font-size: 20px;
}

.price-box-wrapper{
    height: 30px;
    width: 120px;
    display: flex;
    align-items: end;
    justify-content: right;
    margin-top: 5px;
    padding-left: 35px;
}

.shelf li a img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.shelf-header{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 25px;
}