body{
    overflow: hidden;
}

.container{
    min-height: 100vh;
    width: 100%;
    background: #201F1F;
    font-family: 'Syne Mono', monospace;
}

.header{
    height: 10%;
    width: 100%;
    display: flex;
    background: #333131;
    box-shadow: 0 2px 15px;
}

.logo{
    height: 100px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    margin-left: 15px;
    height: 80%;
    width: 80%;
}

.nav-buttons{
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.nav-button{
    padding: 10px 10px 10px 10px;
    font-size: 34px;
    color: white;
    border: none;
    border-radius: 35px;
    background-color: inherit;
    cursor: pointer;
    transition: 0.4s;
}

.nav-button:hover{
    background: white;
    color: black;
}

.search-bar{
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-background{
    height: 50px;
    width: 400px;
    display: flex;
    background: #9E9494;
    border-radius: 5px;
    justify-content: left;
    align-items: center;
}

.search-bar input[type = text]{
    height: 80%;
    width: 85%;
    border: none;
    border-radius: 5px;
    margin-left: 4px;
    font-size: 25px;
}

.search-bar-background img{
    height: 40px;
    width: 40px;
    padding-left: 6px;
}

.cart{
    height: 100px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart img{
    height: 65%;
    width: 65%;
}

.account{
    height: 100px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account a img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background: white;
}

.content{
    height: 90vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shelf-wrapper{
    height: 70vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shelf-header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.shelf{
    height: 90%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: revert;
    transition: 0.6s;
    border-radius: 25px;
    border: 2px solid #615e5e;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.shelf:hover{
    box-shadow: 0 0 30px 2px #615e5e, 0 0 15px 2px #615e5e inset;
}

.shelf li{
    height: 250px;
    width: 180px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid gray;
    margin: 0 2px 13px;
    background: #383636;
    transition: 0.2s linear;
}

.shelf li:hover{
    box-shadow: 3px 3px 5px 4px #444242, 0 0 5px 4px #444242 inset;
}

.shelf li a{
    height: 140px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.text-box-wrapper{
    max-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 25px;
    padding-top: 10px;
}

.book-name-span{
    font-size: 20px;
}

.price-box-wrapper{
    height: 30px;
    width: 120px;
    display: flex;
    align-items: end;
    justify-content: right;
    margin-top: 5px;
    padding-left: 35px;
}

.shelf li a img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}