.container{
    height: 100vh;
    width: 100vw;
    background: #201F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Syne Mono', monospace;
}

.config-form,
.config-form-pass{
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 7px;
}

.config-form label,
.config-form-pass label{
    font-size: 25px;
}

.config-form input,
.config-form-pass input{
    height: 30px;
    width: 70%;
    font-size: 20px;
}

.config-form textarea{
    font-size: 18px;
}

.text-box,
.text-box-pass{
    font-size: 25px;
    font-weight: bold;
}

.config-form-button,
.config-form-pass-button{
    height: 40px;
    width: 180px;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
}

.config-form-button:hover,
.config-form-pass-button:hover{
    background: white;
    color: black;
    box-shadow: 0 10px 15px black;
}