<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style/about-page-styles.css"
          th:href="@{/style/about-page-styles.css}"/>
    <link rel="stylesheet" href="/static/style/reset.css" media="all" th:href="@{/style/reset.css}"/>
    <script src="../static/scripts/search-script.js" th:src="@{/scripts/search-script.js}"></script>
    <title>About page</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
            </a>
        </div>
        <div class="nav-buttons">
            <a href="/about">
                <button class="nav-button">
                    Про нас
                </button>
            </a>
            <a href="/news">
                <button class="nav-button">
                    Новини
                </button>
            </a>
            <a href="/catalog">
                <button class="nav-button">
                    Каталог
                </button>
            </a>
        </div>
        <div class="search-bar">
            <div class="search-bar-background">
                <input id="search" type="text" placeholder="Пошук...">
                <a class="make-search" onclick="makeSearch()">
                    <img src="../static/Photos/search-icon.png" th:src="@{/Photos/search-icon.png}" alt="Іконка пошуку">
                </a>
            </div>
        </div>
        <div class="cart">
            <a href="/bucket">
                <img src="../static/Photos/cart-icon.png" th:src="@{/Photos/cart-icon.png}" alt="Інонка корзини">
            </a>
        </div>
        <div class="account">
            <a href="/profile">
                <img src="../static/Photos/account-icon.png" th:src="@{/Photos/account-icon.png}" alt="Іконка аккаунту">
            </a>
        </div>
    </div>
    <div class="content">
        <div class="header-content">
            Онлайн книгарня LocRum
        </div>
        <div class="text-box-content">
            За 15 років свого існування «LocRum» пройшов карколомний шлях від нішевого магазину для українців до
            провідного українського видавництва нонфікшн-літератури та єдиного з топ-5 мультибрендових
            інтернет-магазинів, що продає виключно україномовні книжки. Від початку діяльності складовими глобального
            проєкту мали стати: видавництво патріотичної і світоглядної літератури, музичний лейбл для продюсування й
            тиражування СD українських гуртів, виробництво української аудіокниги та різноманітного патріотичного мерчу
            (одягу, значків, плакатів, прапорів, сувенірів), мережа дистрибуції та інтернет-магазин, модерний варіант
            системи лояльності «Свій до Свого по Своє», молодіжні виховні табори, творчі резиденції, фестивалі, науковий
            клуб — як перший крок до правдивого університету, спільнота соціально відповідальних і спроможних громадян,
            що стане рушійною силою конструктивних змін. Попри численні труднощі, ця концепція залишається практично
            незмінною і поступово втілюється в життя. Більшість пунктів вдалося реалізувати, може, не на 100 %, але ми
            наполегливо працюємо над здійсненням наших планів і віримо, що з вашою підтримкою ми втілимо спільні мрії.
        </div>
        <div class="logo-content">
            <img src="../static/Photos/Logo3.png" alt="Іконка логотипу">
        </div>
        <div class="team-text-box">
            Команда LocRum
        </div>
        <div class="members">
            <ul>
                <li>
                    <div class="member-photo">
                        <img src="../static/Photos/telegram-icon-2.png" alt="Фото учасника команди">
                    </div>
                    <div class="member-name">
                        Lorem ipsum dolor.
                    </div>
                </li>
                <li>
                    <div class="member-photo">
                        <img src="../static/Photos/telegram-icon-2.png" alt="Фото учасника команди">
                    </div>
                    <div class="member-name">
                        Lorem ipsum dolor.
                    </div>
                </li>
                <li>
                    <div class="member-photo">
                        <img src="../static/Photos/telegram-icon-2.png" alt="Фото учасника команди">
                    </div>
                    <div class="member-name">
                        Lorem ipsum dolor.
                    </div>
                </li>
                <li>
                    <div class="member-photo">
                        <img src="../static/Photos/telegram-icon-2.png" alt="Фото учасника команди">
                    </div>
                    <div class="member-name">
                        Lorem ipsum dolor.
                    </div>
                </li>
                <li>
                    <div class="member-photo">
                        <img src="../static/Photos/telegram-icon-2.png" alt="Фото учасника команди">
                    </div>
                    <div class="member-name">
                        Lorem ipsum dolor.
                    </div>
                </li>
                <li>
                    <div class="member-photo">
                        <img src="../static/Photos/telegram-icon-2.png" alt="Фото учасника команди">
                    </div>
                    <div class="member-name">
                        Lorem ipsum dolor.
                    </div>
                </li>
            </ul>
        </div>
        <div class="about-shop-header">
            Про інтернет магазин
        </div>
        <div class="about-shop">
            Інтернет-крамниця «Наш Формат» — єдиний із топ-5 українських книжкових інтернет-магазинів, що принципово не
            продає російської книжки. У нашому магазині представлені книжки найкращих українських видавництв — це понад
            30 тисяч найменувань.
            <br><br>
            У каталозі інтернет-книгарні «Наш Формат» представлені книжки абсолютно різної тематики: бізнес, психологія,
            історія, мемуаристика, філософія, педагогіка, художня та мотиваційна література. Більшість з них є світовими
            бестселерами, текстами поважних авторів, книжками, які змінили і далі змінюють життя мільйонів людей.
        </div>
        <div class="shipping">
            <img src="../static/Photos/shipping.jpg" alt="Фото варіантів доставки">
        </div>
    </div>
</div>
</body>
</html>