<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style/admin-page-styles.css"
          th:href="@{/style/admin-page-styles.css}"/>
    <link rel="stylesheet" href="/static/style/reset.css" media="all" th:href="@{/style/reset.css}"/>
    <script src="../static/scripts/admin-page-scripts.js" th:src="@{/scripts/admin-page-scripts.js}"></script>
    <title>Сторінка адміністратора</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
            </a>
        </div>
        <div class="nav-buttons">
            <a href="/about">
                <button class="nav-button">
                    Про нас
                </button>
            </a>
            <a href="/news">
                <button class="nav-button">
                    Новини
                </button>
            </a>
            <a href="/catalog">
                <button class="nav-button">
                    Каталог
                </button>
            </a>
        </div>
        <div class="search-bar">
            <div class="search-bar-background">
                <input id="search" type="text" placeholder="Пошук...">
                <a class="make-search" onclick="makeSearch()">
                    <img src="../static/Photos/search-icon.png" th:src="@{/Photos/search-icon.png}" alt="Іконка пошуку">
                </a>
            </div>
        </div>
        <div class="cart">
            <a href="/bucket">
                <img src="../static/Photos/cart-icon.png" th:src="@{/Photos/cart-icon.png}" alt="Інонка корзини">
            </a>
        </div>
        <div class="account">
            <a href="/profile">
                <img src="../static/Photos/account-icon.png" th:src="@{/Photos/account-icon.png}" alt="Іконка аккаунту">
            </a>
        </div>
    </div>
    <div class="content">
        <div class="main-panel">
            <div class="main-panel-header">
                Панель адміністратора
            </div>
            <div class="main-panel-buttons">
                <ul>
                    <li>
                        <button onclick="showBookList()">
                            Переглянути список книг
                        </button>
                    </li>
                    <li>
                        <button onclick="showAuthorList()">
                            Переглянути список авторів
                        </button>
                    </li>
                    <li>
                        <button onclick="showPublishingList()">
                            Переглянути список видавництв
                        </button>
                    </li>
                    <li>
                        <button onclick="showUsersList()">
                            Переглянути список користувачів
                        </button>
                    </li>
                    <li>
                        <button onclick="showOrdersList()">
                            Переглянути список замовлень
                        </button>
                    </li>
                    <li>
                        <button onclick="showGenresList()">
                            Переглянути список жанрів
                        </button>
                    </li>
                    <li>
                        <button onclick="showNewsList()">
                            Переглянути новини
                        </button>
                    </li>
                    <li>
                        <button onclick="showEventsList()">
                            Переглянути події
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="change-box-wrapper">
            <div class="change-book-box" id="change-book-box">
                <div class="change-button">
                    <a href="#" target="_blank">
                        Додати книжку
                    </a>
                </div>
                <ul th:each="book : ${books}">
                    <li>
                        <img th:src="${book.getImage()}" alt="Фото книжки">
                        <div class="book-text-box">
                            <div class="name-description-box">
                                <div class="book-name">
                                    <p th:text="${book.getName()}">
                                        Назва книги
                                    </p>
                                </div>
                                <div class="book-description">
                                    <p th:text="${book.getAuthor().getName()}">
                                        Короткий опис
                                    </p>
                                </div>
                            </div>
                            <div class="buttons-price-box">
                                <div class="book-buttons">
                                   <form>
                                       <button type="submit">
                                           Змінити
                                       </button>
                                   </form>
                                    <form th:method="DELETE" th:action="@{/admin/book/{id}/delete(id = ${book.getId()})}">
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                                <div class="book-price">
                                    Ціна:&nbsp;<p th:text="${book.getPrice()}">TEST</p>грн
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="change-author-box" id="change-author-box">
                <div class="change-button">
                    <a href="#" target="_blank">
                        Додати автора
                    </a>
                </div>
                <ul th:each="author : ${authors}">
                    <li>
                        <img th:src="${author.getImage()}" alt="Фото автора">
                        <div class="author-text-box">
                            <div class="name-description-box">
                                <div class="author-name">
                                    <p th:text="${author.getName()}">
                                        Ім'я автора
                                    </p>
                                </div>
                                <div class="author-description">
                                    <p th:text="${author.getDescription()}">
                                        Коротка біографія
                                    </p>
                                </div>
                            </div>
                            <div class="buttons-box">
                                <div class="author-buttons">
                                    <form>
                                        <button type="submit">
                                            Змінити
                                        </button>
                                    </form>
                                    <form th:method="DELETE" th:action="@{/admin/author/{id}/delete(id = ${author.getId()})}">
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="change-publishing-box" id="change-publishing-box">
                <div class="change-button">
                    <a href="#" target="_blank">
                        Додати видавництво
                    </a>
                </div>
                <ul th:each="pub : ${pubs}">
                    <li>
                        <img th:src="${pub.getImage()}" alt="Фото видавництва">
                        <div class="publishing-text-box">
                            <div class="name-description-box">
                                <div class="publishing-name">
                                    <p th:text="${pub.getName()}">
                                        Назва видавництва
                                    </p>
                                </div>
                                <div class="publishing-description">
                                    <p th:text="${pub.getDescription()}">
                                        Короткий опис
                                    </p>
                                </div>
                            </div>
                            <div class="buttons-box">
                                <div class="publishing-buttons">
                                    <form>
                                        <button type="submit">
                                            Змінити
                                        </button>
                                    </form>
                                    <form th:method="DELETE" th:action="@{/admin/publishing/{id}/delete(id = ${pub.getId()})}">
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="change-users-box" id="change-users-box">
                <ul th:each="user : ${users}">
                    <li>
                        <div class="users-text-box">
                            <div class="name-box">
                                <div class="users-name">
                                    <p th:text="${user.getName()}">
                                        Логін користувача
                                    </p>
                                </div>
                            </div>
                            <div class="buttons-box">
                                <div class="users-buttons">
                                    <form>
                                        <button type="submit">
                                            Змінити
                                        </button>
                                    </form>
                                    <form th:method="DELETE" th:action="@{/admin/user/{id}/delete(id = ${user.getId()})}">
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="change-orders-box" id="change-orders-box">
                <ul>
                    <li>
                        <div class="orders-text-box">
                            <div class="name-box">
                                <div class="orders-id">
                                    Номер замовлення:&nbsp;<p></p>
                                    Логін користувача:&nbsp;<p></p>
                                </div>
                            </div>
                            <div class="buttons-box">
                                <div class="orders-buttons">
                                    <form>
                                        <button type="submit">
                                            Змінити
                                        </button>
                                    </form>
                                    <form>
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="change-genres-box" id="change-genres-box">
                <div class="change-button">
                    <a href="#" target="_blank">
                        Додати жанр
                    </a>
                </div>
                <ul th:each="genre : ${genres}">
                    <li>
                        <div class="genres-text-box">
                            <div class="name-box">
                                <div class="genres-name">
                                    <p th:text="${genre.getName()}">Назва жанру</p>
                                </div>
                            </div>
                            <div class="buttons-box">
                                <div class="genres-buttons">
                                    <form>
                                        <button type="submit">
                                            Змінити
                                        </button>
                                    </form>
                                    <form th:method="DELETE" th:action="@{/admin/genre/{id}/delete(id = ${genre.getId()})}">
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="change-news-box" id="change-news-box">
                <div class="change-button">
                    <a href="#" target="_blank">
                        Додати новину
                    </a>
                </div>
                <ul th:each="new : ${news}">
                    <li>
                        <img th:src="${new.getImage()}" alt="Фото новини">
                        <div class="news-text-box">
                            <div class="name-box">
                                <div class="news-name">
                                    <p th:text="${new.getTitle()}">
                                        Назва новини
                                    </p>
                                </div>
                            </div>
                            <div class="buttons-box">
                                <div class="news-buttons">
                                    <form>
                                        <button type="submit">
                                            Змінити
                                        </button>
                                    </form>
                                    <form th:method="DELETE" th:action="@{/admin/new/{id}/delete(id = ${new.getId()})}">
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="change-events-box" id="change-events-box">
                <div class="change-button">
                    <a href="#" target="_blank">
                        Додати подію
                    </a>
                </div>
                <ul th:each="event : ${events}">
                    <li>
                        <div class="events-text-box">
                            <div class="name-box">
                                <div class="events-name">
                                    <p th:text="${event.getTitle()}">
                                        Назва події
                                    </p>
                                </div>
                            </div>
                            <div class="buttons-box">
                                <div class="events-buttons">
                                    <form>
                                        <button type="submit">
                                            Змінити
                                        </button>
                                    </form>
                                    <form th:method="DELETE" th:action="@{/admin/event/{id}/delete(id = ${event.getId()})}">
                                        <button type="submit">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>