<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style/cart-page-styles.css" th:href="@{/style/cart-page-styles.css}" />
    <link rel="stylesheet" href="/static/style/reset.css" media="all" th:href="@{/style/reset.css}"/>
    <script src="../static/scripts/search-script.js" th:src="@{/scripts/search-script.js}"></script>
    <title>Cart page</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
                </a>
            </div>
            <div class="nav-buttons">
                <a href="/about">
                    <button class="nav-button">
                        Про нас
                    </button>
                </a>
                <a href="/news">
                    <button class="nav-button">
                        Новини
                    </button>
                </a>
                <a href="/catalog">
                    <button class="nav-button">
                        Каталог
                    </button>
                </a>
            </div>
            <div class="search-bar">
                <div class="search-bar-background">
                    <input id="search" type="text" placeholder="Пошук...">
                    <a class="make-search" onclick="makeSearch()">
                        <img src="../static/Photos/search-icon.png" th:src="@{/Photos/search-icon.png}" alt="Іконка пошуку">
                    </a>
                </div>
            </div>
            <div class="cart">
                <a href="/bucket">
                    <img src="../static/Photos/cart-icon.png" th:src="@{/Photos/cart-icon.png}" alt="Інонка корзини">
                </a>
            </div>
            <div class="account">
                <a href="/profile">
                    <img src="../static/Photos/account-icon.png" th:src="@{/Photos/account-icon.png}" alt="Іконка аккаунту">
                </a>
            </div>
        </div>
        <div class="content">
            <div class="books-to-buy">
                Список вибраних до закупівлі товарів
            </div>
            <div class="to-buy-box-wrapper">
                <div class="to-buy-box">
                    <ul th:each="detail : ${bucket.bucketDetails}">
                        <li>
                            <div class="photo">
                                <a th:href="@{/catalog/book/{id}(id=${detail.productId})}" target="_blank">
                                    <img th:src="${detail.getImg()}" alt="Фото книжки">
                                </a>
                            </div>
                            <div class="name-description-box">
                                <div class="book-name">
                                    <p th:text="${detail.getTitle()}">
                                        Назва книги
                                    </p>
                                </div>
                                <div class="brief-description">
                                    <p th:text="${detail.getAuthor()}">
                                        Короткий опис
                                    </p>
                                </div>
                            </div>
                            <div class="delete-price-box">
                                <form class="delete-book" th:method="DELETE" th:action="@{/bucket/{id}(id=${detail.productId})}">
                                    <button class="delete-book-btn">
                                        Вилучити
                                    </button>
                                </form>
                                <div class="price">
                                    Ціна:&nbsp;<p th:text="${detail.getPrice()}">999</p>&nbsp;UAH
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ready-to-buy-box-wrapper">
                <div class="ready-to-buy-box">
                    <div class="total-to-buy">
                        Кількість товарів для закупівлі:&nbsp;<p th:text="${bucket.getAmountProducts()}">1</p>
                    </div>
                    <div class="total-price">
                        Загальна сума:&nbsp;<p th:text="${bucket.getSum()}">999</p>&nbsp;UAH
                    </div>
                </div>
                <form class="ready-to-buy-button">
                    <button class="ready-to-buy-button-btn">
                        Оформити замовлення
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>