<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style/catalog-styles.css" data-th-href="@{/style/catalog-styles.css}" />
    <link rel="stylesheet" href="/static/style/reset.css" media="all" data-th-href="@{/style/reset.css}"/>
    <script src="../static/scripts/catalog-scripts.js" th:src="@{/scripts/catalog-scripts.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header">
                <div class="logo">
                    <a href="/">
                        <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
                    </a>
                </div>
                <div class="nav-buttons">
                    <a href="/about-us">
                        <button class="nav-button">
                            Про нас
                        </button>
                    </a>
                    <a href="/news">
                        <button class="nav-button">
                            Новини
                        </button>
                    </a>
                    <a href="/catalog">
                        <button class="nav-button">
                            Каталог
                        </button>
                    </a>
                </div>
                <div class="search-bar">
                    <div class="search-bar-background">
                        <input id="search" type="text" placeholder="Пошук...">
                        <a class="make-search" onclick="makeSearch()">
                            <img src="../static/Photos/search-icon.png" th:src="@{/Photos/search-icon.png}" alt="Іконка пошуку">
                        </a>
                    </div>
                </div>
                <div class="cart">
                    <a href="#cart">
                        <img src="../static/Photos/cart-icon.png" th:src="@{/Photos/cart-icon.png}" alt="Інонка корзини">
                    </a>
                </div>
                <div class="account">
                    <a href="#account-button" >
                        <button id="open-form-button">
                            <img src="../static/Photos/account-icon.png" th:src="@{/Photos/account-icon.png}" alt="Іконка аккаунту">
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="side-bar">
                <div class="filters">
                    <ul>
                        <li>
                            <form>
                                <div class="multiselect-genres">
                                    <div class="selectBox-genres" onclick="showCheckboxesGenres()">
                                        <select>
                                            <option>Жанри</option>
                                        </select>
                                        <div class="overSelect-genres"></div>
                                    </div>
                                    <div id="checkboxes-genres">
                                        <label for="one-genres">
                                            <input type="checkbox" id="one-genres"/>First checkbox</label>
                                        <label for="two-genres">
                                            <input type="checkbox" id="two-genres"/>Second checkbox</label>
                                        <label for="three-genres">
                                            <input type="checkbox" id="three-genres"/>Third checkbox</label>
                                        <label for="fourth-genres">
                                            <input type="checkbox" id="fourth-genres"/>Third checkbox</label>
                                        <label for="fifth-genres">
                                            <input type="checkbox" id="fifth-genres"/>Third checkbox</label>
                                        <label for="six-genres">
                                            <input type="checkbox" id="six-genres"/>Third checkbox</label>
                                        <label for="seven-genres">
                                            <input type="checkbox" id="seven-genres"/>Third checkbox</label>
                                        <label for="eight-genres">
                                            <input type="checkbox" id="eight-genres"/>Third checkbox</label>
                                        <label for="nine-genres">
                                            <input type="checkbox" id="nine-genres"/>Third checkbox</label>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="multiselect-publishing">
                                    <div class="selectBox-publishing" onclick="showCheckboxesPublishing()">
                                        <select>
                                            <option>Видавництва</option>
                                        </select>
                                        <div class="overSelect-publishing"></div>
                                    </div>
                                    <div id="boxes-publishing">
                                        <ul>
                                            <li>
                                                <a href="https://google.com" target="_blank">
                                                    <label>
                                                        First checkbox
                                                    </label>
                                                </a>
                                            </li>
                                            <a href="https://google.com" target="_blank">
                                                <label>
                                                    Second checkbox
                                                </label>
                                            </a>
                                            <a href="https://google.com" target="_blank">
                                                <label>
                                                    Third checkbox
                                                </label>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="multiselect-authors">
                                    <div class="selectBox-authors" onclick="showCheckboxesAuthors()">
                                        <select>
                                            <option>Автори</option>
                                        </select>
                                        <div class="overSelect-authors"></div>
                                    </div>
                                    <div id="boxes-authors">
                                        <a href="https://google.com" target="_blank">
                                            <label>
                                                    TEST
                                            </label>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="books">
                <div class="shelf">
                    <ul >
                        <li th:each="book : ${books}">
                            <a href="#book-one">
                                <img th:src="${book.image}" th:alt="${book.price}">
                            </a>
                            <div class="text-box-wrapper">
                                <p>
                                    <span class="book-name-span" th:text="${book.name}">Назва книги</span><br>
                                    <span th:text="${book.name}">Видавництво</span><br>
                                    <br>
                                    <span th:text="${book.author.name}">Автор</span>
                                </p>
                            </div>
                            <div class="price-box-wrapper">
                                <p th:text="${book.price}">
                                    0.005$
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>