<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style/styles.css" th:href="@{/style/styles.css}" />
    <link rel="stylesheet" href="/static/style/reset.css" media="all" th:href="@{/style/reset.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../static/scripts/scripts.js" th:src="@{/scripts/scripts.js}"></script>
    <script src="../static/scripts/search-script.js" th:src="@{/scripts/search-script.js}"></script>
    <title>LockRum</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
                </a>
            </div>
            <div class="nav-buttons">
                <a href="/about">
                    <button class="nav-button">
                        Про нас
                    </button>
                </a>
                <a href="/news">
                    <button class="nav-button">
                        Новини
                    </button>
                </a>
                <a href="/catalog">
                    <button class="nav-button">
                        Каталог
                    </button>
                </a>
            </div>
            <div class="search-bar">
                <div class="search-bar-background">
                    <input id="search" type="text" placeholder="Пошук...">
                    <a class="make-search" onclick="makeSearch()">
                        <img src="../static/Photos/search-icon.png" th:src="@{/Photos/search-icon.png}" alt="Іконка пошуку">
                    </a>
                </div>
            </div>
            <div class="cart">
                <a href="/bucket">
                    <img src="../static/Photos/cart-icon.png" th:src="@{/Photos/cart-icon.png}" alt="Інонка корзини">
                </a>
            </div>
            <div class="account">
                <a href="/profile">
                    <img src="../static/Photos/account-icon.png" th:src="@{/Photos/account-icon.png}" alt="Іконка аккаунту">
                </a>
            </div>
        </div>
        <div class="content">
            <div class="shelf-header">
                Новинки
            </div>
            <div class="shelf">
                <ul th:each="book : ${lastAddedList}">
                    <li>
                        <a th:href="@{/catalog/book/{id}(id=${book.getId()})}">
                            <img th:src="${book.getImage()}" alt="Фото книжки">
                        </a>
                        <div class="text-box-wrapper">
                            <p>
                                <span class="book-name-span" th:text="${book.name}">Назва книги</span><br>
                                <span th:text="${book.name}">Видавництво</span><br>
                                <br>
                                <span th:text="${book.author.name}">Автор</span>
                            </p>
                        </div>
                        <div class="price-box-wrapper">
                            <p th:text="${book.getName()}"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="shelf-header">
                Цікаві книги
            </div>
            <div class="shelf">
                <ul th:each="book : ${topSales}">
                    <li>
                        <a th:href="@{/catalog/book/{id}(id=${book.getId()})}">
                            <img th:src="${book.getImage()}" alt="Фото Книжки">
                        </a>
                        <div class="text-box-wrapper">
                            <p>
                                <span class="book-name-span" th:text="${book.name}">Назва книги</span><br>
                                <span th:text="${book.name}">Видавництво</span><br>
                                <br>
                                <span th:text="${book.author.name}">Автор</span>
                            </p>
                        </div>
                        <div class="price-box-wrapper">
                            <p th:text="${book.getName()}"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="shelf-header">
                Бестселлери
            </div>
            <div class="shelf">
                <ul th:each="book : ${topSales}">
                    <li>
                        <a th:href="@{/catalog/book/{id}(id=${book.getId()})}">
                            <img th:src="${book.getImage()}" alt="Фото Книжки">
                        </a>
                        <div class="text-box-wrapper">
                            <p>
                                <span class="book-name-span" th:text="${book.name}">Назва книги</span><br>
                                <span th:text="${book.name}">Видавництво</span><br>
                                <br>
                                <span th:text="${book.author.name}">Автор</span>
                            </p>
                        </div>
                        <div class="price-box-wrapper">
                            <p th:text="${book.getName()}"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="logo-footer">
                <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
            </div>
            <div class="numbers">
                <p>Номер такий то: +123456789</p>
                <p>Номер такий то: +123456789</p>
                <p>Номер такий то: +123456789</p>
                <p>Номер такий то: +123456789</p>
            </div>
            <div class="messengers">
                <div class="icon-box">
                    <a href="https://www.instagram.com/knmem_e/" target="_blank">
                        <img src="../static/Photos/instagram-icon.png" th:src="@{/Photos/instagram-icon.png}" alt="Іконка інстаграму">
                    </a>
                </div>
                <div class="icon-box">
                    <a href="">
                        <img src="../static/Photos/telegram-icon-2.png" th:src="@{/Photos/telegram-icon-2.png}" alt="Іконка телеграму">
                    </a>
                </div>
                <div class="icon-box">
                    <a href="">
                        <img src="../static/Photos/facebook-icon.png" th:src="@{/Photos/facebook-icon.png}" alt="Іконка фейсбуку">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>