<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style/login-registration-page-styles.css" th:href="@{/style/login-registration-page-styles.css}" />
    <link rel="stylesheet" href="/static/style/reset.css" media="all" th:href="@{/style/reset.css}" />
    <title>Login page</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="login-form">
                <div class="auth-header">
                    <div class="header">
                        Вхід
                    </div>
                </div>
                <form id="login-form" name="f" method="post" action="/process_login">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input id="login-input-login" class="login-input-login" name="username" type="text" placeholder="Введіть логін" required="required">
                    <input id="password-input-login" class="password-input-login" type="password" name="password" placeholder="Введіть пароль" required="required">
                    <div th:if="${param.error}" style="color: red">
                        Неправильний логін або пароль.
                    </div>
                    <button id="submit-form-login" class="submit-form-login" type="submit">
                        Увійти
                    </button>
                </form>
                <div class="redirect-to-registry">
                    Ще не маєте аккаунту? <a href="/registration">Зареєструватися</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>