<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/static/style/order-page-styles.css"
          th:href="@{/style/order-page-styles.css}"/>
    <link rel="stylesheet" href="/static/style/reset.css" media="all" th:href="@{/style/reset.css}"/>
    <title>Замовлення</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
                </a>
            </div>
            <div class="nav-buttons">
                <a href="/about">
                    <button class="nav-button">
                        Про нас
                    </button>
                </a>
                <a href="/news">
                    <button class="nav-button">
                        Новини
                    </button>
                </a>
                <a href="/catalog">
                    <button class="nav-button">
                        Каталог
                    </button>
                </a>
            </div>
            <div class="search-bar">
                <div class="search-bar-background">
                    <input id="search" type="text" placeholder="Пошук...">
                    <a class="make-search" onclick="makeSearch()">
                        <img src="../static/Photos/search-icon.png" th:src="@{/Photos/search-icon.png}" alt="Іконка пошуку">
                    </a>
                </div>
            </div>
            <div class="cart">
                <a href="/bucket">
                    <img src="../static/Photos/cart-icon.png" th:src="@{/Photos/cart-icon.png}" alt="Інонка корзини">
                </a>
            </div>
            <div class="account">
                <a href="/profile">
                    <img src="../static/Photos/account-icon.png" th:src="@{/Photos/account-icon.png}" alt="Іконка аккаунту">
                </a>
            </div>
        </div>
        <div class="content">
            <div class="list-to-buy-wrapper">
                <div class="list-to-buy-header">
                    Список товарів
                </div>
                <div class="list-to-buy">
                    <ul>
                        <li th:each="detail : ${bucket.getBucketDetails()}">
                            <div class="list-photo">
                                <img th:src="${detail.getImg()}" alt="Фото книжки">
                            </div>
                            <div class="list-text">
                                <div class="name-description-wrapper">
                                    <div class="name">
                                        <p th:text="${detail.getTitle()}">Назва</p>
                                    </div>
                                    <div class="brief-description">
                                        <p th:text="${detail.getAuthor()}">Короткий опис</p>
                                    </div>
                                </div>
                                <div class="price-presence-wrapper">
                                    <div class="price">
                                        Ціна:&nbsp;<p th:text="${detail.getSum()}"></p>грн
                                    </div>
                                    <div class="presence">
                                        Кількість:&nbsp;<p th:text="${detail.getAmount()}"></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ordering">
                <div class="ordering-header">
                    Оформлення замовлення
                </div>
                <div class="ordering-box-wrapper">
                    <form class="ordering-box" th:method="POST" th:action="@{/bucket/createorder}" th:object="${orderinfo}" onsubmit="alert('Дякую за замовлення')">
                        <div class="user-info">
                            <div class="user-info-header">
                                Контактні дані
                            </div>
                            <div class="user-info-inputs">
                                <label>ПІБ</label>
                                <input type="text" id="user-full-name" required="required" th:field="*{fullName}">
                                <label for="user-address">Адреса доставки</label>
                                <input type="text" id="user-address" required="required" th:field="*{address}">
                                <label for="user-phone-number">Номер телефону для уточнення замовлення</label>
                                <input type="text" id="user-phone-number" required="required" th:field="*{phoneNumber}">
                            </div>
                            <button type="submit" onclick="">
                                Підтвердити замовлення
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>