<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/style/user-page-authorized-styles.css" th:href="@{/style/user-page-authorized-styles.css}" />
    <link rel="stylesheet" type="text/css" href="/static/style/reset.css" media="all" th:href="@{/style/reset.css}" />
    <script src="../static/scripts/search-script.js" th:src="@{/scripts/search-script.js}"></script>
    <title>Користувач</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="../static/Photos/Logo3.png" th:src="@{/Photos/Logo3.png}" alt="Іконка логотипу">
                </a>
            </div>
            <div class="nav-buttons">
                <a href="/about">
                    <button class="nav-button">
                        Про нас
                    </button>
                </a>
                <a href="/news">
                    <button class="nav-button">
                        Новини
                    </button>
                </a>
                <a href="/catalog">
                    <button class="nav-button">
                        Каталог
                    </button>
                </a>
            </div>
            <div class="search-bar">
                <div class="search-bar-background">
                    <input id="search" type="text" placeholder="Пошук...">
                    <a class="make-search" onclick="makeSearch()">
                        <img src="../static/Photos/search-icon.png" th:src="@{/Photos/search-icon.png}" alt="Іконка пошуку">
                    </a>
                </div>
            </div>
            <div class="cart">
                <a href="/bucket">
                    <img src="../static/Photos/cart-icon.png" th:src="@{/Photos/cart-icon.png}" alt="Інонка корзини">
                </a>
            </div>
            <div class="account">
                <a href="/profile">
                    <img src="../static/Photos/account-icon.png" th:src="@{/Photos/account-icon.png}" alt="Іконка аккаунту">
                </a>
            </div>
        </div>
        <div class="content">
            <div class="about-profile">
                <div class="about-profile-left" >
                    <div class="nickname">
                        <p th:text="${user.getName()}">Назва аккаунту</p>
                    </div>
                    <div class="email">
                        <p th:text="${user.getEmail()}">Пошта аккаунту</p>
                    </div>
                    <hr style="width: 95% ">
                    <div class="about">
                        <p th:text="${user.getAbout()}">Lorem ipsum</p>
                    </div>
                </div>
                <div class="about-profile-right">
                    <div class="created-at">
                        Дата створення профілю: <p th:text="${user.getCreatedDate()}">1 листопада 2022</p>
                    </div>
                    <div class="number-of-bought-books">
                        Кількість придбаних книг:&nbsp;<p th:text="${user.getBooks().size()}"></p>
                    </div>
                    <div class="status">
                        Статус:&nbsp;<p th:if="${user.getRole().name()} == 'ROLE_ADMIN'">Адміністратор</p>
                        <p th:if="${user.getRole().name()} == 'ROLE_USER'">Покупець</p>
                    </div>
                </div>
            </div>
            <div class="bought-books">
                Придбані книги
            </div>
            <div class="bought-books-list">
                <ul>
                    <li th:each="book : ${user.getBooks()}">
                        <div class="bought-books-list-photo">
                            <a th:href="@{/catalog/book/{id}(id = ${book.getId()})}">
                                <img th:src="${book.getImage()}" alt="">
                            </a>
                        </div>
                        <div class="bought-books-list-text-wrapper">
                            <div class="bought-books-list-text">
                                <div class="bought-books-list-text-name">
                                    <p th:text="${book.getName()}">Назва</p>
                                </div>
                                <hr style="width: 97%">
                                <div class="bought-books-list-text-brief-description">
                                    <p th:text="${book.getAuthor().getName()}">Короткий опис</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="">

                        </a>
                    </li>
                    <li>
                        <a href="">
<!--                            <img src="../static/Photos/Latin_dictionary.jpg" alt="">-->
                        </a>
                    </li>
                    <li>
                        <a href="">
<!--                            <img src="../static/Photos/Latin_dictionary.jpg" alt="">-->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>